<!DOCTYPE html>
<html>
  <head>
    <title>Badcord</title>
    <link rel="shortcut icon" href="<%= image_url('logos/vector/isolated-monochrome-white.svg') %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
      window.logo_head_white = "<%= image_url('logos/vector/isolated-monochrome-white.svg') %>"
      window.login_signup_bg = "<%= image_url('splash/login_signup_bg.jpg') %>"
      window.mono_logo = "<%= image_url('logos/vector/default-monochrome-black.svg') %>"
      window.mono_white_logo = "<%= image_url('logos/vector/default-monochrome.svg') %>"
      window.android = "<%= image_url('splash/android.svg') %>"
      window.iphone = "<%= image_url('splash/iphone.svg') %>"
      window.controller = "<%= image_url('splash/controller.svg') %>"
      window.desktop = "<%= image_url('splash/desktop.svg') %>"
      window.laptop = "<%= image_url('splash/laptop.svg') %>"
      window.potion = "<%= image_url('splash/potion.svg') %>"
      window.disc = "<%= image_url('splash/disc.svg') %>"
      window.headphones = "<%= image_url('splash/headphones.svg') %>"
      window.mariobox = "<%= image_url('splash/mariobox.svg') %>"
      window.gamepak = "<%= image_url('splash/gamepak.svg') %>"
      window.bomb = "<%= image_url('splash/bomb.svg') %>"
      window.coin = "<%= image_url('splash/coin.svg') %>"
      window.triangle = "<%= image_url('splash/triangle.svg') %>"
      window.circle = "<%= image_url('splash/circle.svg') %>"
      window.circlefill = "<%= image_url('splash/circlefill.svg') %>"
      window.square = "<%= image_url('splash/square.svg') %>"
      window.x = "<%= image_url('splash/x.svg') %>"
      window.linkedin_qr = "<%= image_url('qr/badcord-qr.png') %>"
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
