<!DOCTYPE html>
<html>
  <head>
    <title>Badcord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
      window.login_signup_bg = "<%= image_url('splash/login_signup_bg.jpg') %>"
      window.mono_logo = "<%= image_url('logos/vector/default-monochrome-black.svg') %>"
      window.mono_white_logo = "<%= image_url('logos/vector/default-monochrome.svg') %>"
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
